<form #myForm="ngForm" (submit)="onSubmit(myForm)" >
  <div ngModelGroup="informacoes" >
    <label>
      <p>Nome</p>
      <input #elNome="ngModel" type="text" name="nome"  required minlength="3" maxlength="5" [(ngModel)]="informacoes.nome" >
      {{ informacoes.nome }}
      <ul *ngIf="elNome.dirty && elNome.invalid" >
        <li *ngIf="elNome.errors?.required" >Campo é obrigatório</li>
        <li *ngIf="elNome.errors?.minlength" >Nome muito curto</li>
      </ul>
    </label>
    <label>
      <p>Idade</p>
      <input type="number" name="idade" ngModel [disabled]="elNome.invalid" >
    </label>
    <label>
      <p>E-mail</p>
      <input type="email" name="email" email ngModel >
    </label>
    <label>
      <p>Confirmar E-mail</p>
      <input type="email" name="confirmaEmail" ngModel >
    </label>
  </div>
  
  <div ngModelGroup="endereco" >
    <label>
      <p>CEP</p>
      <input type="text" name="cep" ngModel #cep (blur)="getAddress(cep.value)" >
    </label>
    <label>
      <p>Endereco</p>
      <input type="text" name="logradouro" ngModel >
    </label>
    <label>
      <p>Número</p>
      <input type="text" name="numero" ngModel >
    </label>
    <label>
      <p>Complemento</p>
      <input type="text" name="complemento" ngModel >
    </label>
    <label>
      <p>Bairro</p>
      <input type="text" name="bairro" ngModel >
    </label>
    <label>
      <p>Cidade</p>
      <input type="text" name="localidade" ngModel >
    </label>
    <label>
      <p>Estado</p>
      <input type="text" name="uf" ngModel >
    </label>
  </div>

  <button type="submit" >Enviar</button>
</form>